* {
  margin: 0;
  padding: 0;
}
body {
  background-color:  #00FFFF;
}
.timetext {
  margin-top: 300px;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  color: #361C7C;
  font-size: 100px;
  text-align: center;
  -moz-text-shadow: 0 2px 3px rgba(0,0,0,0.75);
  text-shadow: 0 2px 3px rgba(0,0,0,0.75);
}
.buttons {
  height: 50px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn-primary {
  float: left;
  text-transform: uppercase;
  width: 150px;
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
.btn-info {
  text-transform: uppercase;
  width: 150px;
  float: left;
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  float: left;
}
