* {
  margin: 0;
  padding: 0;
}
body {
background-color: #eeeeee;
}
.wrapper {
  width: 1000px;
  height: 1310px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid grey;
  margin-top: 10px;
}

/*HEADER*/

header {
  width: 909px;
  height: 332px;
  margin-left: auto;
  margin-right: auto;
}
.tel {
  float: left;
  margin-left: 7px;
  margin-top: 2px;
}
.contacts {
  width: 909px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}
.contacts span {
  font-family: Arial;
  font-size: 19px;
  line-height: 25px;
  color: rgb(94, 105, 109);
  vertical-align: top;
  margin-left: -2px;
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
}
.headform {
  position: relative;
  width: 494px;
  height: 25px;
  float: left;
  margin-left: 16px;
  margin-top: -1px;
  line-height: 27px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
}
.avt {
  float: left;
  width: 14px;
  height: 18px;
  padding-top: 3px;
  padding-left: 8px;
}
.log input {
  float: left;
  width: 110px;
  height: 14px;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 2px;
}
.pas input {
  float: left;
  width: 110px;
  height: 14px;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 8px;
}
.enter {
  display: block;
  height: 25px;
  float: left;

}
.enter a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans Unicode";
  font-size: 12px;
  line-height: 25px;
  -moz-transform: matrix( 0.87725805647978,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.87725805647978,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.87725805647978,0,0,0.909375,0,0);
}
.pass {
  float: left;
  height: 25px;
  margin-left: 0px;
}
.pass a {
  display: block;
  line-height: 25px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode";
  color: rgb(191, 191, 191);
  margin-left: 14px;
}
.navi {
  float: left;
  margin-left: 16px;
  margin-top: -5px;
  display: block;
  width: 80px;
  height: 30px;
}
.headlogo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
nav {
  width: 908px;
  height: 31px;
  border-color: rgb(13, 22, 66);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-style: solid;
  border-width: 1px;
  margin-top: 3px;
}
nav ul {
  list-style: none;
  margin-left: 129px;
}
nav li {
  display: block;
  float: left;
  padding-left: 13px;
  padding-right: 10px;
}
nav li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lucida Sans Unicode";
  color: rgb(177, 188, 192);
  line-height: 31px;
  margin-right: 3px;
}
nav a {
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
}
nav li:hover {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  cursor: pointer;
}
.layer15 {
  float: left;
  width: 21px;
  height: 17px;
  margin-left: 44px;
  margin-top: 6px;
}
.layer15:hover {
  background-image: url(img/layer15w.png);
}
.goods {
  float: left;
  line-height: 31px;
  font-size: 11px;
  font-family: "Arial";
  color: rgb(146, 155, 159);
  margin-left: 22x;
  padding-left: 8px;
}
.goods span {
  color: rgb(13, 90, 143);
  font-size: 12px;
  font-family: "Arial";
  padding-left: 3px;
}
.sum {
  float: left;
  line-height: 31px;
  font-size: 11px;
  font-family: "Arial";
  color: rgb(146, 155, 159);
  margin-left: 16px;
}
.sum span {
  color: rgb(13, 90, 143);
  font-size: 12px;
  font-family: "Arial";
  margin-left: 9px;
}

/*FORMS*/
.forms {
  height: 132px;
	width: 909px;
	margin: 0 auto;
	margin-top: -9px;
	padding-left: 10px;
	clear: both;
}
.left {
  width: 412px;
	height: 134px;
	float: left;
	border: 1px #9c9c9d solid;
	border-radius: 18px;
	-webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
}
.center{
	width: 190px;
	height: 134px;
	margin-left: 15px;
	float: left;
	border: 1px #9c9c9d solid;
	border-radius: 18px;
	-webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
}
.right{
	width: 267px;
	height: 134px;
	margin-left: 10px;
	float: left;
	border: 1px #9c9c9d solid;
	border-radius: 18px;
	-webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
  box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.41);
}

/*CONTENT*/

.content {
  width: 909px;
  height: 630px;
  margin: 0 auto;
  margin-top: 22px;
}

/*LEFTLIST*/

.navleft {
  float: left;
  height: 435px;
  width: 190px;
}
.cat {
  width: 181px;
  height: 24px;
  border-radius: 14px;
  border: 1px solid rgb(121, 135, 141);
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  margin-left: -1px;
}
.cat:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.cat img {
  float: left;
  margin-left: 2px;
  line-height: 24px;
  margin-top: 1px;
  margin-right: 0;
}
.cat a {
  display: block;
  line-height: 24px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-decoration: none;
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  text-align: left;
  margin-left: -28px;
  margin-top: 1px;
  }
.wheel {
  width: 147px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid rgb(121, 135, 141);
  margin-top: 14px;
  margin-left: 2px;
}
.wheel img {
  display: block;
  float: left;
  margin-left: 2px;
  margin-top: 1px;
  margin-right: 1px;
}
.wheel a {
  display: block;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
  text-decoration: none;
  margin-top: 4px;
}
.wheel a:hover {
  font-weight: bold;
  cursor: pointer;
}
.wheel:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.wheelp {
  display: block;
  width: 182px;
  float: left;
  line-height: 30px;
  font-size: 14.395px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  line-height: 28px;
  margin-left: 28px;
  margin-top: -6px;
}
.wheelp img {
  margin-right: 4px;
  vertical-align: baseline;
  margin-bottom: 1px;
}
.wheelp a {
  text-decoration: none;
  display: block;
  font-size: 14.395px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  cursor: pointer;
}
.wheelp a:hover {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.disc {
  float: left;
  width: 147px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid rgb(121, 135, 141);
  margin-top: -6px;
  margin-left: 1px;
}
.disc img {
  display: block;
  float: left;
  margin-left: 2px;
  margin-top: 1px;
  margin-right: 2px;
}
.disc a {
  display: block;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
  text-decoration: none;
  margin-top: 3px;
}
.disc:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.disc a:hover {
  font-weight: bold;
  cursor: pointer;
}
.discs {
  display: block;
  width: 182px;
  float: left;
  line-height: 30px;
  font-size: 14.395px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  line-height: 28px;
  margin-left: 28px;
  margin-top: -6px;
}
.discs a {
    text-decoration: none;
    display: block;
    font-size: 14.395px;
    font-family: "Lucida Sans Unicode";
    color: rgb(17, 65, 101);
}
.discs img {
  margin-right: 4px;
  vertical-align: baseline;
  margin-bottom: 1px;
}
.discs a:hover {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.bolt {
  float: left;
  width: 147px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid rgb(121, 135, 141);
  margin-top: -7px;
  margin-left: 1px;
}
.bolt img {
  display: block;
  float: left;
  margin-left: 2px;
  margin-top: 1px;
  margin-right: 2px;
}
.bolt a {
  display: block;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
  text-decoration: none;
  margin-top: 3px;
}
.bolt a:hover {
  font-weight: bold;
  cursor: pointer;
}
.bolt:hover {
  background-color: rgb(153, 210, 252);
}
.bolts {
  display: block;
  width: 182px;
  float: left;
  line-height: 30px;
  font-size: 14.395px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  line-height: 28px;
  margin-left: 28px;
  margin-top: -6px;
}
.bolts img {
  margin-right: 4px;
  vertical-align: baseline;
  margin-bottom: 1px;
}
.bolts a {
  text-decoration: none;
  display: block;
  font-size: 14.395px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  cursor: pointer;
}
.bolts a:hover {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
/*MAIN*/

main {
  margin-top: -4px;
  float: left;
  padding-left: 1px;
  width: 517px;
  height: 628px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: linear-gradient(#e5e7e8, #93a7b0);
  padding-left: 10px;
}

.allwheels {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 21px;
  margin-bottom: 20px;
}
.allwheels a {
  text-decoration: none;
}
figcaption p:hover {
  color: #112e44;
}
.allwheels img {
 padding-left: 1px;
 padding-right: 4px;
 margin-top: -3px;
}
.allwheels-brand {
  color: #206988;
  font-size: 15px;
  font-weight: bold;
  line-height: 5px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Garuda", Sans-serif;
}
.allwheels-model {
  font-size: 13px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Garuda", Sans-serif;
}
.allwheels-price {
  margin-left: 4px;
  color: #114165;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: -13px;
}
.currency {
  font-size: 12px;
  font-weight: bold;
}

/*RIGHTLIST*/

.navright {
  float: right;
  height: 435px;
  width: 190px;
}
.brands {
  width: 180px;
  height: 24px;
  border-radius: 14px;
  border: 1px solid rgb(121, 135, 141);
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  margin-left: 7px;
  margin-top: -2px;
}
.brands:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.brands img {
  float: left;
  margin-left: 3px;
  line-height: 24px;
  margin-top: 1px;
  margin-right: 0px;
}
.brands a {
  display: block;
  line-height: 24px;
  font-size: 15px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-decoration: none;
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  text-align: left;
  margin-left: -1px;
  margin-top: 1px;
}
.wheelright {
  width: 134px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid rgb(121, 135, 141);
  margin-top: 15px;
  margin-left: 22px;
  overflow: hidden;
}
.wheelright img {
  display: block;
  float: left;
  margin-left: 3px;
  margin-top: 1px;
  margin-right: 2px;
}
.wheelright a {
  display: block;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
  text-decoration: none;
  margin-top: 3px;
}
.wheelright a:hover {
  font-weight: bold;
  cursor: pointer;
}
.wheelright:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.wheellist {
  font-size: 12.73px;
  font-family: "Lucida Sans Unicode";
  color: rgb(70, 89, 97);
  margin-top: 3px;
  margin-left: 40px;
  line-height: 25px;
}
.wheellist input {
  vertical-align: middle;
}
.discsright {
  width: 134px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid rgb(121, 135, 141);
  margin-top: 8px;
  margin-left: 21px;
}
.discsright img {
  display: block;
  float: left;
  margin-left: 2px;
  margin-top: 1px;
  margin-right: 4px;
}
.discsright a {
  display: block;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
  text-decoration: none;
  margin-top: 3px;
}
.discsright a:hover {
  font-weight: bold;
  cursor: pointer;
}
.discsright:hover {
  background-color: rgb(153, 210, 252);
  cursor: pointer;
}
.discslist {
  font-size: 12.73px;
  font-family: "Lucida Sans Unicode";
  color: rgb(70, 89, 97);
  margin-top: 5px;
  margin-left: 40px;
  line-height: 25px;
}
.discslist input {
  vertical-align: middle;
}
.choose input {
  display: block;
  width: 82px;
  height: 28px;
  font-size: 11px;
  font-family: "Arial";
  color: rgb(229, 233, 234);
  text-align: center;
  border-radius: 12px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  line-height: 26px;
  margin-top: 13px;
  margin-left: -10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(167, 171, 174);
}
.choose input:hover {
  cursor: pointer;
  background: rgb(38, 123, 186);
  border: 1px solid #206ca5;

}

/*FOOTER*/

.footerlogo {
  width: 676px;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.footerlogo a {
  height: 35px;
  display: inline-block;
  list-style: none;
  line-height: 27px;
  vertical-align: top;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 5px;
  box-sizing: border-box;
}
.foot {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  display: block;
  width: 908px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(36, 42, 60);
  background-color: rgb(33, 58, 77);
}
.foot-menu{
  margin: 0 auto;
  margin-left: 295px;
  margin-right: auto;
  list-style: none;
  margin-top: 11px;
	margin-bottom: 17px;
  width: 400px;
	height: 11px;
  display: block;
  float: left;
  text-align: center;
}
.foot-menu a {
	padding-left: 12px;
  padding-right: 9px;
	font-size: 12px;
	font-family: Arial;
	letter-spacing: 0.7px;
	text-decoration: none;
  display: inline-block;
	float: left;
	color: #bec6c9;
}
.foot-menu li {
  display: block;
  float: left;
}
.foot-menu a:hover{
	color: #52abcb;
  cursor: pointer;
}
.f1, .f2, .f3{
	border-right: 1px solid #7a878f;
  }
.copy{
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
	width: 160px;
	height: 10px;
}
.copy p{
	font-size: 10px;
	color: rgb(127, 71, 64);
	font-family: Arial;
	text-align: center;
}
