* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url(fonts/leaguegothic-regular-webfont.eot);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'webfontregular';
    src: url(fonts/leaguegothicregular-webfont-webfont.eot);
    font-weight: normal;
    font-style: normal;
}
.wrapper {
    max-width: 960px;
    height: 190px;
    margin: 0 auto;
    z-index: 1;
}
.bg-container {
    width: 100%;
    height: 847px;
    background: url(img/bg.jpg);

}
.logo {
    float: left;
    padding: 52px 0 0 0px;
    width: 168px;
    height: 6%;
}
a img {
  border: none;
}
.menu {
    float: left;
    padding-top: 12px;
    margin-left: 34%;
    width: 635px;
    height: 8%;
}
.menu__item {
    list-style: none;
    display: inline-block;
}
.menu__link {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 24px 0 24px;

}
.menu__link--first {
    margin-left: 0;
    padding-left: 0;
}
.menu__link--last {
    margin-right: 0;
    padding-right: 0;
}
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}
.menu--vertical {
    display: none;
}
.slider--wrapper {
    height: 400px;
    z-index: 1;
    position: relative;
}
.slider {
    width: 100%;
    height: 400px;
    background-color: black;
    filter: alpha(Opacity=30);
    margin-top: 90px;
    z-index: 1;
}
.slider__article {
    float: left;
    width: 50%;
    height: 333px;
    padding: 67px 0 0 0;
    overflow: hidden;
    z-index: 1;
}
.slider__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-weight: lighter;
    font-size: 60px;
    color: #fff;
    z-index: 1;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    padding: 5px 0 0 0;
}
.slider__subheading {
    font-family: "League Gothic Regular", sans-serif;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 32px;
    color: #edbfff;
    z-index: 1;
    padding: 0 0 0 0;
    margin-top: -9px;
}
.slider--cell {
    width: 89%;
    overflow: hidden;
    padding: 0px 13px 0 0;
    height: 148px;
    word-wrap: break-word;
}
.slider__text {
    font-family: "Open Sans Light", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-top: 3px;
    word-wrap: break-word;
}
.slider__image {
    position: absolute;
    top: -17px;
    left: 63.27%;
}
.slider__imagebox {
  position: relative;
}
.slider__image480 {
  display: none;
}
.nav-buttons {
  position: absolute;
  top: 492px;
  left: 73.95%;
  width: 85px;
  height: 20px;
  background: url("img/slider_nav.png") no-repeat;
}
.content_linear {
    width: 100%;
    height: 340px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745082', endColorstr='#33253a');
    border-top: 1px solid #37293e;
    border-bottom: 1px solid #21333b;
}
.text--wrapper {
    height: 340px;
    padding-left: 1%;
}
.text__box {
    position: relative;
    display: inline-block;
    width: 31%;
    height: 62%;
    padding: 7.6% 1% 0 1%;
}
.text__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    margin-left: 27px;
}
.text {
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}
.text__link {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.link__paragraph {
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
}
.link__paragraph .text__link:hover {
    -webkit-text-shadow: 0 0 5px rgba(255,255,255,1);
    -moz-text-shadow: 0 0 5px rgba(255,255,255,1);
    text-shadow: 0 0 5px rgba(255,255,255,1);
}
.text__img {
    position: absolute;
    top: 28%;
    left: 0;
}
.text__cell {
    width: 81%;
    height: 113px;
    overflow: hidden;
    padding: 10px 20px 0 28px;
}
.content--two {
    height: 486px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid black;
}
.updates--wrapper {
    height: 486px;
}
.text__box--starts-here {
    float: left;
    width: 47%;
    padding: 100px 0 0 26px;
}
.text__container {
    height: 330px;
    padding-right: 30px;
}
.text__message {
    background:  #ffffff;
    max-width: 370px;
    height: 202px;
    position: relative;
    padding: 30px 30px 40px 30px;
    -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
    box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
}
.photo {
    position: absolute;
    background: url("img/sprites.png") no-repeat 0 0;
    width: 49px;
    height: 50px;
    top: 18px;
    left: -26px;
}
.text__heading--starts-here {
    margin-left: 8px;
    margin-top: -3px;
}
.text__heading--black {
    color: #454545;
    margin-left: 0;
}
.text__heading--pink {
    color: #edbfff;
    margin-left: 0;
}
.text--black {
    color: black;
}
.text__cell--starts-here {
    width: 96%;
    height: 155px;
    padding: 10px 11px 0 14px;
    margin-left: -8px;
    margin-top: -3px;
}
.text__message::after {
    position: absolute;
    content: url("img/corner.png");
    top: 271px;
    right: 20px;
    width: 40px;
    height: 40px;
}
.radio_group {
    max-width: 370px;
    margin: 0 auto;
    height: 30px;
}
.radio_group--box {
    width: 100%;
    height: 30px;
    background: url("img/Navigation%20copy.png") no-repeat center;
    padding-top: 45px;
}
.recent-updates {
    float: left;
    width: 48%;
    padding: 127px 0 20px 20px;
}
.text__heading--light-black {
    color: #454545;
    margin-left: 13px;
    margin-top: -1px;
}
.inform-block {
    width: 100%;
    height: 51px;
    padding-top: 10px;
}
.inform-block__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #515151;
    font-weight: 800;
    }
.inform-block__image-box {
    float: left;
    width: 49px;
    height: 50px;
    margin-left: 7px;
}
.inform-block__text-box {
    float: left;
    padding-left: 10px;
    width: 82%;
    height: 67px;
    overflow: hidden;
    margin-left: 14px;
}
.inform-block__image--one {
    background: url("img/sprites.png") no-repeat -48px 0;
}
.inform-block__image--two {
    background: url("img/sprites.png") no-repeat -96px 0;
}
.inform-block__image--three {
    background: url("img/sprites.png") no-repeat -144px 0;
}
.text__link--black {
    color: #454545
}
.recent-updates__footer {
    width: 100%;
    height: 20px;
    padding-top: 10px;
}
.logo-area--content {
    height: 118px;
    background: #f9f9f9;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}
.logo-area--wrapper {
    height: 118px;
}
.logo-container {
    width: 100%;
    height: 118px;
    margin: 0 auto;
}
.logo-item {
    float: left;
    width: 9%;
    margin: 3% 0% 2% 5%;
}
.logo-item--rvca {
    margin: 6% 4% 4% 4%;
}
.logo-item--billabong {
    margin-left: 10%;
}
.logo-item--vonzipper {
    margin-right: 0;
}
.down-text--content {
    height: 396px;
    background: #ececec;
    border-top: 1px solid #d8d8d8;
    border-bottom: none;
}
.down-text--wrapper {
    height: 396px;
}
.text__heading--down-text {
    color: #454545;
}
.text__heading--down-text-first {
    font-size: 48px;
    text-shadow: none;
    margin-left: 15px;
}
.subheading--down-text-first {
    font-family: Georgia, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    font-weight: 100;
    margin-left: 12px;
}
.pingbull--down-text {
    color: #454545;
    text-shadow: none;
}
.er--down-text {
    text-shadow: none;
    color: #b9b9b9;
}
.text--down-text {
    color: #454545;
}
.text__box--down-text-first {
    margin-left: 0%;
    position: relative;
    display: inline-block;
    width: 30%;
    height: 87%;
    padding: 10% 0% 0 0%;
    margin-top: -8px;
}
.text__box--down-text {
    vertical-align: top;
    margin-left: 0%;
    position: relative;
    display: inline-block;
    width: 30%;
    height: 87%;
    padding: 10% 0 0 0;
    margin-top: -5px;
    margin-right: 10px;
}
.text__cell--down-text-first {
    height: 132px;
    padding: 10px 20px 0 12px;
}
.text__cell--down-text {
    height: 177px;
    width: 90%;
}
.footer--content {
    height: 114px;
    background: url("img/bg-footer.jpg") no-repeat center top;
    border: none;
}
.footer--wrapper {
    height: 114px;
}
.menu--footer {
    float: left;
    padding: 5.5% 0 0 0;
    width: 83%;
    height: 68px;
    margin-left: 12px;
}

.menu__link--small {
    font-size: 20px;
    margin: 0 16px 0 16px;
}
.menu__container {
    float: left;
    width: 81%;
    height: 114px;
}
.signature__container {
    float: left;
    width: 18%;
    height: 114px;
}
.signature {
    float: right;
    margin: 51px 0 0 0;
}
#designed {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: white;
}
.pingbull-as {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: white;
}

@media screen and (max-width: 980px) {
  .menu {
    clear: left;
    float: left;
    width: 100%;
    padding-top: 78px;
    margin-left: 13px;
  }
  .logo {
      padding: 52px 0 0 19px;
  }
  .menu__link {
      margin: 0 24px 0 24px;
      margin-left: 6px;
  }
  .slider__heading {
      font-family: "League Gothic Regular", sans-serif;
      font-weight: lighter;
      font-size: 48px;
      color: #fff;
      z-index: 1;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
      padding: 5px 0 0 0;
  }
  .slider__subheading {
      font-family: "League Gothic Regular", sans-serif;
      line-height: 36px;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 24px;
      color: #edbfff;
      z-index: 1;
      padding: 0 0 0 0;
      margin-top: -9px;
  }
  .slider__text {
      font-family: "Open Sans Light", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      margin-top: 3px;
      word-wrap: break-word;
  }
  .slider__article {
      float: left;
      width: 60%;
      height: 333px;
      padding: 87px 0 0 42px;
      overflow: hidden;
      z-index: 1;
  }
}

/** MEDIA 768 **/

@media screen and (max-width: 959px) {
.bg-container {
    height: 798px;
}
.logo {
    padding: 52px 0 0 19px;
}
.menu {
    clear: left;
    float: left;
    width: 700px;
    padding-top: 78px;
    margin-left: 13px;
}
/*.menu__item {
    margin-left: 1%;
}*/
.menu__item--margin {
    margin-bottom: 1%;
}
.menu__link {
    margin: 0 24px 0 24px;
    margin-left: 6px;
}
.slider {
    margin-top: 54px;
}
.slider__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-weight: lighter;
    font-size: 48px;
    color: #fff;
    z-index: 1;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    padding: 5px 0 0 0;
}
.slider__subheading {
    font-family: "League Gothic Regular", sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 24px;
    color: #edbfff;
    z-index: 1;
    padding: 0 0 0 0;
    margin-top: -6px;
}
.slider__text {
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 3px;
    word-wrap: break-word;
}
.slider__article {
    float: left;
    width: 60%;
    height: 333px;
    padding: 87px 0 0 42px;
    overflow: hidden;
    z-index: 1;
}
.text__box {
    position: relative;
    float: left;
    width: 25%;
    height: 62%;
    padding: 10% 1% 0 6%;
}
.text__heading {
    font-size: 23px;
}
.text__cell {
    width: 80%;
}
.text__img {
    position: absolute;
    top: 27%;
    left: 24px;
}
.text__box--starts-here {
    float: left;
    width: 38%;
    padding: 100px 0 0 28px;
}
.text__cell--starts-here {
    width: 96%;
    height: 108px;
    padding: 10px 11px 0 14px;
}
.recent-updates {
    float: left;
    width: 56%;
    padding: 131px 0 0 0;
}
.inform-block__text-box {
    float: left;
    padding-left: 4px;
    width: 78%;
    height: 52px;
    overflow: hidden;
}
.logo-item--awsm {
    margin: 3% 1% 2% 4%;
}
.logo-item--rvca {
    margin: 6% 5% 4% 4%;
}
.text__heading--down-text {
    width: 77%;
}
.text__box--down-text-first {
    padding-top: 13%;

}
.text__box--down-text {
    padding-top: 13%;
}
.text__cell {
    width: 77%;
}
.footer--content {
    height: 201px;
    background: url("img/bg-footer-768.jpg") no-repeat center top;
    border: none;
}
.footer--wrapper {
    height: 201px;
}
.menu--footer {
    float: left;
    padding: 4% 0 0 0;
    width: 700px;
    height: 42px;
}
.menu__container {
    float: left;
    width: 100%;
    height: 78px;
    margin-top: 15px;
}
.signature__container {
    float: right;
    clear: left;
    width: 153px;
    height: 44px;
}
.signature {
    float: right;
    margin: 0 5px 0 0;
    padding: 7px 5px 0 0;
}
}

/** MEDIA  480 **/

@media screen and (max-width: 767px) {
.bg-container {
    height: 562px;
}
.content_linear {
    height: 596px;
}
.logo {
    padding: 65px 0 0 0;
    width: 100%;
    text-align: center;
}
.wrapper--logo {
    margin: 0 auto;
}
.menu {
    display: none;
}
.nav {
    padding-top: 100px;
}
.menu--vertical {
    position: relative;
    display: block;
    width: 235px;
    margin: 26px auto;
    padding-top: 10px;
    z-index: 10;
}
.menu__item--vertical {
    display: block;
    background: rgba(63, 51, 72, .7);
    z-index: 10;
    box-sizing: border-box;
}
.menu__link--vertical {
    width: 233px;
    display: block;
    padding: 6px 0 6px 0;
    text-align: center;
    text-shadow: none;
    margin-left: 0;
    z-index: 10;
}
.menu__link--vertical:hover {
    border-bottom: 2px solid #edbfff;
    padding: 6px 0 4px 0;
}
.menu__item--vertical:first-child {
    background: none;
    border: none;
}
.menu__item--vertical:first-child:hover {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.menu__item--vertical:last-child {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.menu__item--vertical:hover .menu__link--vertical {
    background: rgba(43, 34, 49, .7);
}
.menu__item--vertical:hover:first-child .menu__link--vertical {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.menu__item--vertical:hover:last-child .menu__link--vertical {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.menu__item--vertical:not(:first-child) {
    display: none;
}
.menu--vertical:hover .invisible {
    display: block;
}
.menu--vertical:hover .visible {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background: rgba(63, 51, 72, .7);
}
.menu--vertical:hover .menu__item--vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.menu--vertical:hover .visible {
    border-top: 1px solid black;
    border-radius: 10px 10px 0 0;
}
.menu--vertical:hover .menu__item--vertical:last-child {
    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
}
.menu--vertical:hover .invisible {
    border-top: 1px solid #523e5a;
}
.menu--vertical:hover .menu__item--vertical {
    border-bottom: 1px solid #36283e;
}
.menu__link--vertical p {
    display: inline;
    border-bottom: 2px solid #edbfff;
}
.menu__link--vertical:first-child {
    padding-top: 8px;
}
.slider {
    height: 246px;
    margin-top: 27px;
    z-index: 1;
}
.slider--wrapper {
    height: 245px;
    z-index: 1;
    position: relative;
}
.slider--cell {
    display: none;
}
.slider__heading {
    font-size: 36px;
    font-weight: lighter;
    padding-left: 12%;
    padding-top: 20px;
}
.slider__subheading {
    font-size: 18px;
    font-weight: lighter;
    padding-left: 12%;
    }
.slider__image {
  display: none;
}
.slider__image480 {
  display: block;
  position: absolute;
  left: 53.5%;
  top: -10px;

}
.slider__article {
    float: left;
    width: 60%;
    height: 333px;
    padding: 67px 0 0 0;
    overflow: hidden;
    z-index: 1;
}
.slider--wrapper::before {
    top: 319px;
}
.slider--wrapper::after {
    top: 319px;
}
.slider__article {
    height: 178px;
}
.slider__imagebox {
    height: 260px;
}

.nav-buttons {
    width: 85px;
    margin-top: -25px;
    background-position: center;
    position: absolute;
    top: 119%;
    left: 42%;
}

.text__box {
    width: 98%;
    position: relative;
    display: inline-block;
    height: 50%;
    padding: 4% 1% 0 1%;
}
.text__cell {
    width: 88%;
    height: 63px;
    overflow: hidden;
    padding: 4% 2% 0 11%;
}
.text__img {
    position: absolute;
    top: 16%;
    left: 2%;
}
.text__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    margin-left: 46px;
}
.link__paragraph .text__link {
    margin-right: 5%;
}
.content--two {
    height: 786px;
    background: #f9f9f9;;
}
.menu-vertical {
    display: block;
}
.text__box--starts-here {
    width: 98%;
}
.text__container {
    height: 330px;
    padding-right: 0;
}
.text__message {
    max-width: 355px;
    height: 200px;
    margin: 0 auto;
}
.text__message::after {
    display: none;
}
.text__heading--black {
    color: #454545;
    margin-left: 0;
}
.text__heading--pink {
    color: #edbfff;
    margin-left: 0;
}
.text__heading--starts-here {
    margin-left: 16px;
}
.text__cell--starts-here {
    width: 91%;
    height: 179px;
    overflow: hidden;
    padding: 6px 14px 0 15px;
}
.recent-updates {
    width: 96%;
    padding: 21% 0 0 4%;
    margin-top: 10px;
}
.inform-block__text-box {
    padding-left: 15px;
    width: 78%;
}
.text__heading--starts-here {
    color: #454545;
    margin-left: 15px;
}
.text__heading--light-black {
    color: #454545;
    margin-left: 0;
}
.logo-area--content {
    height: 232px;
}
.logo-area--wrapper {
    padding-top: 30px;
    padding-left: 10px;
    height: 232px;
}
.logo-item {
    margin: 3% 10% 2% 10%;
}
.logo-item--rvca {
    margin: 6% 10% 4% 10%;
}
.down-text--content {
    height: 666px;
}
.text__box--down-text-first {
    width: 95%;
    height: 180px;
    margin-top: -20px;
}
.text__box--down-text {
    width: 95%;
}
.text__heading--down-text-first {
    margin-left: 20px;
}
.text__heading--down-text {
    margin-left: 20px;
}
.subheading--down-text-first {
    margin-left: 20px;
}
.text__cell--down-text-first {
    height: 91px;
    padding: 10px 20px 0 20px;
}
.text__cell--down-text {
    height: 54%;
    padding: 10px 20px 0 20px;
}
.text__box--down-text {
    height: 50%;
    padding-top: 3%;
}
.text__heading--down-text {
    color: #454545;
}
.footer--content {
    height: 200px;
}
.footer--wrapper {
    height: 200px;
}
.menu--footer {
    width: 85%;
    margin-left: 50px;
}
.menu__container {
    margin-top: 25px;
}
.menu__item {
    margin-left: 0;
}
.menu__link {
    margin-left: 3px;
}
.menu__link--vertical {
    margin-left: 0;
}
.signature__container {
    width: 100%;
}
.signature {
    float: none;
    margin: 0 auto;
    text-align: center;
}
}

/** MEDIA  320 **/

@media screen and (max-width: 479px) {
.logo {
      padding: 50px 0 0 0px;
}
.slider {
    background: rgba(0, 0, 0, 0);
}
.bg-container {
    width: 100%;
    height: 516px;
}
.content_linear {
    height: 596px;
}
.slider--wrapper {
  position: relative;
}
.slider__imagebox {
    display: none;
}
.slider__image480 {
  display: none;
}
.slider__article {
    width: 100%;
}
.slider__heading {
    text-align: center;
    padding: 20px 9px 0 0;
}
.slider__subheading {
    padding: 0;
    text-align: center;
    padding: 0 0 0 22px
}
.nav-buttons {
  position: absolute;
  left: 38%;
  top: 97%;
  width: 90px;
  height: 25px;
  background: url("img/slider_nav.png") no-repeat;
}
.text--wrapper {
    height: 596px
}
.text--wrapper {
  padding-top: 68px;
}
.text__box {
    width: 100%;
    height: 27%;
    padding: 0 0 0 0;
}
.text__box h1 {
  display: block;
  width: 150px;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: lighter;
  margin-left: 65px;
}
.text__cell p {
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 32px;
    margin-top: -8px;
    font-weight: lighter;
}
.link__paragraph {
  display: block;
  float: right;
  width: 60px;
  margin-top: -2px;
}
.text__cell {
  width: 80%;
}
.text__cell--starts-here p {
  margin-left: -10px;
}
.text__container span {
  font-size: 24px;
  margin-top: 28px;
  margin-left: 10px;
}
.text__img {
    position: absolute;
    top: 5%;
    left: 5%;
}
.text__cell--starts-here p {
  color: black;
}
.content--two {
    height: 786px;
}
.text__box--starts-here {
    float: left;
    width: 100%;
    padding: 63px 0 0 0;
}
.updates--wrapper {
    height: 788px;
}
.inform-block__image--one {
  display: block;
  float: left;
}
.inform-block__text-box {
  display: block;
  float: left;
  margin-left: 50px;
  margin-top: -55px;
}
.inform-block__heading {
  width: 160px;
  height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #515151;
  overflow: hidden;
  margin-top: 2px;
  margin-right: 0px;
}
.text__heading--starts-here {
    position: absolute;
    top: 20px;
    left: -40px;
}
.inform-block {
    width: 90%;
    height: 60px;
    padding-top: 10px;
}
.text__message {
    height: 214px;
    width: 50%;
    padding-top: 29px;
    padding-left: -20px;
}
.text__cell--starts-here {
    width: 80%;
    height: 159px;
    margin-top: 50px;
}
.recent-updates {
    width: 96%;
    padding: 41% 0 0 4%;
    margin-top: 30px;
}
.logo-area--content {
    height: 420px;
}
.logo-area--wrapper {
    height: 420px;
}
.logo-item {
    margin: 3% 16% 22% 17%
}
.logo-item--pinetree {
    margin: 3% 16% 20% 17%
}
.logo-item--awsm {
    margin: 3% 16% 21% 17%
}
.logo-item--rvca {
    margin: 3% 16% 21% 11%
}
.logo-item--vonzipper {
    margin: -3% 17% 22% 19%;
}
.down-text--content {
    display: none;
}
.footer--content {
    height: 200px;
}
.footer--wrapper {
    height: 200px;
}
.menu__container {
    display: none;
}
.link__paragraph {
    padding-right: 10px;
    display: block;
    width: 100px;
}
.signature__container {
  margin-top: 25px;
}
}
