* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  padding-top: 50px;
  }
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.eot);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.ttf);
}
p {
  font-family: OpenSans-Regular;
  font-size: 13px;
}
.box-maket {
  width: 1060px;
  height: 950px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 0px;
}
.logo {
  width: 145px;
  height: 40px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 0px;
}
.topmenu {
  width: 965px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.topmenu {
  background-color: #535252;
  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
}
.topmenu ul {
  list-style: none;
}
.topmenu li {
  display: block;
  box-sizing: border-box;
  float: left;
  height: 40px;
  background-color: #535252;
  line-height: 40px;
  font-family: OpenSans-Regular;
  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0, rgb(94,94,94) 100%);
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
  font-size: 14.667px;
}
.topmenu a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  height: 100%;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  margin-right: 40px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.topmenu a:hover {
  display: inline-block;
  box-sizing: border-box;
  background-color: #3a3a3a;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}
.leftmenu {
  width: 240px;
  height: 240px;
  margin-left: 45px;
  margin-top: 40px;
  margin-right: 775px;
  color: #656363;
}
.leftmenu a {
  color: #656363;
  display: block;
  padding-left: 25px;
  text-decoration: none;
}
.leftmenu a:hover {
  background-color: #f9f9f9;
  color: #2c2c2c;
  padding-left: 40px;
}
.leftmenu ul {
  list-style: none;
}
.leftmenu li {
  display: block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  font-size: 13.333px;
  border: 1px solid #c8c8c8;
  border-bottom-width: 0px;
}
.photo {
  width: 675px;
  height: 400px;
  background-color: white;
  border: 1px solid #c8c8c8;
  float: right;
  margin-right: 50px;
  margin-top: -240px;
  text-align: center;
  line-height: 400px;
  }
.photo img {
  vertical-align: middle;
}
.text {
  float: right;
  margin-left: 355px;
  margin-right: 60px;
  margin-top: 40px;
  font-size: 13.333px;
  line-height: 1.6;
  color: #2c2c2c;
}
.footer {
  width: 965px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #e1e1e1;
  margin-top: 400px;
}
.footer ul {
  list-style: none;
}
.footer li {
  display: block;
  float: left;
  line-height: 40px;
  font-size: 13.333px;
  padding-left: 25px;
  margin-right: 67px;
}
.footer a {
 display: block;
 text-decoration: none;
 color: #2c2c2c;
 }
 .footer a:hover {
 text-decoration: underline;
 }
 .footer span {
   line-height: 40px;
   font-size: 13.333px;
   padding-left: 210px;
}
