* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 800px;
  border: 11px solid black;
  border-collapse: collapse;
  margin-top: 50px;
}
td, tr {
  text-align: center;
  margin: 10px;
  border: 11px solid black
}
.red {
  background-color: rgb(255, 98, 68);
}
.yellow {
  background-color: rgb(255, 243, 114);
}
.blue {
  background-color: rgb(5, 67, 127);
}
.black {
  background-color: rgb(24, 36, 31);
}
