* {
  margin: 0;
  padding: 0;
}
body {
  background-color:  #ffffff;
}
.head-title {
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  color: #745083;
  margin-top: 20px;
}
.question {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 10%;
  font-family: Arial;
  margin: 80px 0 0 20%;
  font-weight: bold;
  font-size: 28px;
  color: #745083;
  margin-bottom: 20px;
}
label {
  margin-left: 21%;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 20px;
  color: #745083;
}
.answerLabel {
  margin-left: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
}
input {
  margin-right: 10px;
  margin-bottom: 15px;
}
.button {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #745083;
  width: 16%;
  height: 40px;
  margin-left: 42%;
  margin-right: auto;
  margin-top: 50px;
}
.button:hover {
  cursor: pointer;
}
