@media (max-width: 620px) {
footer {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-image: url(img/foot480.png);
}
}
@media (max-width: 740px) {
.image {
  width: 100%;
  height: auto;
}
.iphone {
  width: 225px;
  margin-top: 160px;
  float: right;
  margin-right: -20px;
  text-align: right;
}
.box1, .box2 {
  display: inline-block;
  width: 28.73%;
  height: 198px;
  float: left;
  text-align: center;
  margin-top: 63px;
  margin-right: 26px;
}
.box3, .update, .read, .navigation2 {
  display: none !important;
}
}
@media (max-width: 800px) {
.lorem {
  width: 49%;
  float: left;
  margin-top: 72px;
}
.lorem-head {
 font-size: 58px;
 font-family: "LeagueGothic-Regular";
 color: rgb(254, 254, 254);
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
 text-align: left;
}
.lorem-title {
  font-size: 29px;
	font-family: 'LeagueGothic-Regular';
	color: #edbfff;
  margin-top: -10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.lorem-article {
  font-size: 18px;
	font-family: 'OpenSans-Light';
	color: #ffffff;
  margin-top: 3px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
}
@media (max-width: 980px) {
.update-text768, .starts-article768 {
  display: block;
}
.update-text, .starts-article {
  display: none;
}
.update-text768 {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
	float: left;
  margin-left: 17px;
  margin-top: 3px;
}
.starts-article768 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(69, 69, 69);
 text-align: left;
 text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
 margin-left: 63px;
 margin-right: 40px;
 margin-top: 4px;
 line-height: 24px;
}
}
@media (max-width: 980px) {
.box1, .box2, .box3 {
  display: inline-block;
  width: 28.73%;
  height: 198px;
  float: left;
  text-align: center;
  margin-top: 63px;
  margin-left: 10px;
  margin-right: 20px;
}
.starts {
 display: block;
 width: 47.08%;
 text-align: right;
 margin-top: 99px;
 float: left;
}
}
@media (max-width: 930px) {
  .headcont {
    float: left;
    margin-left: 20px;
  }
  .head-menu {
    float: left;
    width: 95%;
    margin-top: 22px;
    margin-right: 0px;
    margin-left: -6px;
  }
  .slide {
    margin-top: 119px;
  }
  .leftslide {
    display: block;
    float: left;
    margin-top: 298px;
    margin-left: -3px;
  }
}
@media (max-width: 815px) {
.box1, .box2, .box3 {
  display: inline-block;
  width: 28.73%;
  height: 198px;
  float: left;
  text-align: center;
  margin-top: 63px;
  margin-left: 10px;
  margin-right: 20px;
}
.about-title a {
  display: block;
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 54px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  text-decoration: none;
}
}

/*MEDIA 768*/

@media (max-width: 768px) {
.head, .headoverlay, .navigation, .cont1, .cont2, .cont3, .cont4, .content5 {
  max-width: 768px;
}
header {
  height: 799px;
}
.headcont {
  float: left;
  margin-left: 20px;
}
.head-menu {
  float: left;
  margin-top: 28px;
  padding-left: 26px;
}
.head-menu a {
  text-decoration: none;
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  margin-left: 0px;
  margin-right: 52px;
}
.lorem, .lorem-head, .lorem-title, .lorem-article, .update-head320 {
  display: none;
}
.lorem768, .lorem-head768, .lorem-title768, .lorem-article768 {
  display: block;
}
.lorem768 {
  width: 34.76%;
  float: left;
  margin-left: 18px;
  margin-top: 92px;
}
.lorem-head768 {
 font-size: 48px;
 font-family: "LeagueGothic-Regular";
 color: rgb(254, 254, 254);
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
 text-align: left;
}
.lorem-title768 {
  font-size: 22px;
	font-family: 'LeagueGothic-Regular';
	color: #edbfff;
  margin-top: 2px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.lorem-article768 {
  font-size: 18px;
	font-family: 'OpenSans-Light';
	color: #ffffff;
  margin-top: 6px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.iphone {
  margin-top: -23px;
  float: right;
  margin-right: 28px;
}
.slide {
  margin-top: 79px;
}
.leftslide {
  display: block;
  float: left;
  margin-top: 258px;
  margin-left: -3px;
}
.rightslide {
  display: none;
}
.navigation {
display: block;
width: 85px;
height: 19px;
margin-top: 21px;
margin-right: 120px;
float: right;
}
.navigation img {
  float: left;
  padding: 0;
}
.cont1 {
  padding-left: 20px;
  padding-top: 12px;
}
.box1, .box2, .box3 {
  display: inline-block;
  width: 28.73%;
  height: 198px;
  float: left;
  text-align: center;
  margin-top: 63px;
  margin-right: 26px;
}
.box3 {
  display: inline-block;
  width: 28.73%;
  height: 198px;
  float: right;
  text-align: center;
  margin-top: 63px;
  margin-right: 12px;
}
.box1 img {
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 2px;
}
.about-article {
  display: none;
}
.about-article768 {
  display: block;
}
.about-article768 {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(255, 255, 255);
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  display: block;
  margin-left: 53px;
  margin-top: 1px;
  line-height: 24px;
}
.about-title a {
  display: block;
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 54px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  text-decoration: none;
}
.about-more a {
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: right;
  margin-right: 13px;
  margin-top: 5px;
  text-decoration: none;
  float: right;
}
.content2 {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  height: 486px;
}
.starts-article768, .starts-title768, .update-text768 {
  display: block;
}
.update-text320, .starts-article, .starts-article320, .starts-title, .update-text, .update-head320 {
  display: none;
}
.starts {
 display: block;
 width: 47.08%;
 text-align: right;
 margin-top: 100px;
 float: left;
 margin-left: 21px;
}
.starts-title768 {
 font-size: 24px;
 font-family: "LeagueGothic-Regular";
 color: rgb(69, 69, 69);
 text-transform: uppercase;
 text-align: left;
 display: block;
 margin-left: 63px;
 padding-top: 26px;
 }
.navigation2 {
 margin-left: 159px;
 margin-top: -2px;
}
.starts-title768 span {
 color: #edbfff;
}
.starts-article768 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(69, 69, 69);
 text-align: left;
 text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
 margin-left: 63px;
 margin-right: 40px;
 margin-top: 4px;
 line-height: 24px;
}
.update {
 display: block;
 width: 45%;
 height: 262px;
 float: right;
 margin-left: 30px;
 margin-right: -5px;
 margin-top: 99px;
 overflow: hidden;
}
.update-text {
  display: none;
}
.update-text768 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(69, 69, 69);
 float: left;
 margin-left: 17px;
 margin-top: 3px;
 }
.read a {
 display: block;
 font-size: 18px;
 font-family: "LeagueGothic-Regular";
 color: rgb(69, 69, 69);
 float: right;
 margin-right: 0px;
 margin-top: -19px;
 text-decoration: none;
}
.logos768 img {
 display: block;
 height: 65px;
 margin-top: 25px;
 margin-left: 24px;
}
.logos img {
   display: none;
}
.cont4 {
  padding-left: 20px;
}
.pig, .pig2, .pig3 {
  display: none;
}
.pig4, .pig5, .pig5 {
  display: block;
}
.pig4 {
  display: block;
  height: 240px;
  width: 30%;
  float: left;
  margin-top: 99px;
  margin-right: 42px;
}
.pig5 {
  display: block;
  height: 240px;
  width: 30%;
  float: left;
  margin-top: 99px;
  margin-right: 2px;
}
.pig6 {
  display: block;
  height: 240px;
  width: 30%;
  float: right;
  margin-top: 99px;
  margin-right: -4px;
}
.pig2-title {
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
}
.cont4 a {
  text-decoration: none;
  color: rgb(69, 69, 69);
}
.foot-menu {
  margin-left: 20px;
}
.foot-menu li {
  margin-top: 43px;
}
.des {
 margin-top: 28px;
 margin-right: 0px;
}

/*END MEDIA 768*/

/*MEDIA 480*/

@media (max-width: 480px) {
.head, .headoverlay, .navigation, .cont1, .cont2, .cont3, .cont4, .content5 {
  max-width: 480px;
}
header {
  width: 100%;
  height: 548px;
  margin: 0 auto;
}
.headcont {
width: 34%;
display: block;
padding-top: 51px;
float: right;
margin-right: 154px;
}

.lorem, .lorem-head, .lorem-title, .lorem-article {
  display: none;
}
.update-text320, .starts-article320, .lorem768, .lorem-head768, .lorem-title768, .lorem-article768, .update-head320 {
  display: none;
}
.lorem480, .lorem-head480, .lorem-title480 {
  display: block;
}
.lorem480 {
  display: block;
  width: 45%;
  height: 55px;
  margin-left: 29px;
  padding-top: 87px;
}
.leftslide {
  display: block;
  float: left;
  margin-top: 191px;
  margin-left: -13px;
}
.rightslide {
  display: block;
  float: right;
  margin-top: -196px;
  margin-right: -13px;
}
.lorem-head480 {
  font-size: 36px;
  font-family: "LeagueGothic-Regular";
  color: rgb(254, 254, 254);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  text-align: left;
}
.lorem-title480 {
  font-size: 18px;
	font-family: 'LeagueGothic-Regular';
	color: #edbfff;
  margin-top: -2px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.header-mobile-menu {
  display: none;
}
.head-menu {
  display: none;
}
.iphone {
  display: none;
}
.slide {
  display: block;
  width: 100%;
  height: 246px;
  margin-top: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.iphone480 {
  display: block;
  margin-top: -151px;
  float: right;
  margin-right: 22px;
}
.navigation {
 display: block;
 float: left;
 margin-left: 193px;
 margin-top: -31px;
}
.about {
  background: linear-gradient(to bottom, #745083, #33253a);
  border-top: 1px solid #33253a;
  width: 100%;
  height: 518px;
  padding-top: 80px;
}
.about-article480 {
  display: none;
}
.box1 {
  display: block;
  width: 95%;
  margin-left: -1px;
  margin-top: -17px;
}
.box2 {
  display: block;
  width: 95%;
  margin-left: -1px;
  margin-top: -41px;
}
.box3 {
  display: block !important;
}
.box3 {
  display: block;
  width: 95%;
  margin-top: -37px;
  margin-right: 25px;
}
.about-more a {
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: right;
  margin-right: 15px;
  margin-top: 13px;
  text-decoration: none;
  float: right;
}
.content2 {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  height: 786px;
  width: 100%;
}
.starts-article, .starts-title {
  display: block;
}
.starts-article320, .starts-article768, .starts-title768, .update-text {
  display: none;
}
.starts {
 display: block;
 width: 90%;
 height: 272px;
 text-align: right;
 margin-left: 10px;
 background-image: url(img/testimonial480.png);
 margin-top: 70px;
}
.starts-title {
  margin-left: 63px;
  padding-top: 24px;
}
.starts-article {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  margin-left: 63px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 24px;
}
.update {
  display: block !important;
}
.update {
 display: block;
 width: 80%;
 margin-top: 60px;
 margin-right: 20px;
}
.update-text768 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(69, 69, 69);
 float: left;
 margin-left: 17px;
 margin-top: 3px;
 }
 .updatebox3 {
 margin-top: 5px;
 }
.read {
  display: block !important;
}
.read {
 display: block;
 font-size: 18px;
 font-family: "LeagueGothic-Regular";
 color: rgb(69, 69, 69);
 float: right;
 margin-right: 58px;
 margin-top: 33px;
 text-decoration: none;
}
.content3 {
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  width: 100%;
  height: 230px;
}
.logos480 img {
 display: block;
 margin-top: 36px;
 margin-left: 58px;

}
.logos img {
   display: none;
}
.logos768 img {
   display: none;
}
.navigation2 {
  display: block !important;
}
.navigation2 {
  margin-left: 194px;
  margin-top: -335px;
  float: left;
}
.content4 {
 border-top: 1px solid #d8d8d8;
 background-color: #ececec;
 width: 100%;
 height: 667px;
}
.pig, .pig2, .pig3 {
 display: none;
}
.pig4, .pig5, .pig5 {
 display: block;
}
.pig4 {
 display: block;
 width: 95%;
 height: 150px;
 margin-top: 77px;
 margin-left: -12px;
}
.pig5 {
 display: block;
 width: 95%;
 height: 150px;
 margin-top: 35px;
 margin-left: -12px;
}
.pig6 {
 display: block;
 width: 95%;
 height: 150px;
 margin-top: 38px;
 margin-left: 0px;
 margin-right: 35px;
}
footer {
  width: 100%;
  background-image: url(img/foot480.png);
}
.content5 {
  width: 100%;
  height: 200px;
}
.foot-menu {
  margin-left: 11px;
}
.foot-menu li {
  display: inline-block;
  float: left;
  list-style: none;
  font-size: 20px;
  margin-top: 45px;
}
.foot-menu a {
  text-decoration: none;
  font-size: 20px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  margin-right: 23px;
}
.des {
 margin-top: 32px;
 margin-right: 164px;
}
}

/*END MEDIA 480*/

/*MEDIA 320*/

@media (max-width: 320px) {
.head, .headoverlay, .navigation, .cont1, .cont2, .cont3, .cont4, .content5 {
  max-width: 480px;
}
header {
  width: 100%;
  height: 516px;
  margin: 0 auto;
}
.mobile-menu {
  display: block;
  margin-left: 30px;
  margin-top: -10px;
}
.menu-480-360 a {
  text-decoration: none;
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
.menu-480-360 {
  position: absolute;
  display: block;
  width: 245px;
  margin: 26px auto;
  padding-top: 10px;
  z-index: 100;
}
.menu__item--vertical {
  display: block;
  background: rgba(63, 51, 72, .7);
  z-index: 10;
  box-sizing: border-box;
}
.menu__link--vertical {
  display: block;
  padding: 6px 0 6px 0;
  text-align: center;
  text-shadow: none;
  margin-left: 0;
}
.menu__link--vertical:hover {
  border-bottom: 2px solid #edbfff;
  padding: 6px 0 4px 0;
}
.menu__item--vertical:first-child {
  background: none;
  border: none;
}
.menu__item--vertical:first-child:hover {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
   border-radius: 10px 10px 0 0;
}
.menu__item--vertical:last-child {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
   border-radius: 0 0 10px 10px;
}
.menu__item--vertical:hover .menu__link--vertical {
  background: rgba(43, 34, 49, .7);
}
.menu__item--vertical:hover:first-child .menu__link--vertical {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.menu__item--vertical:hover:last-child .menu__link--vertical {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.menu__item--vertical:not(:first-child) {
  display: none;
}
.menu-480-360:hover .invisible {
  display: block;
}
.menu-480-360:hover .visible {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: rgba(63, 51, 72, .7);
}
.menu-480-360:hover .menu__item--vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.menu-480-360:hover .visible {
  border-top: 1px solid black;
  border-radius: 10px 10px 0 0;
}
.menu-480-360:hover .menu__item--vertical:last-child {
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
}
.menu-480-360:hover .invisible {
  border-top: 1px solid #523e5a;
}
.menu-480-360:hover .menu__item--vertical {
  border-bottom: 1px solid #36283e;
}
.menu__link--vertical p {
  display: inline;
  border-bottom: 2px solid #edbfff;
}
.menu__link--vertical:first-child {
 padding-top: 8px;
}
.headcont {
width: 34%;
display: block;
float: left;
padding-top: 50px;
margin-left: 75px;
}
.slide {
  display: block;
  width: 100%;
  height: 0px;
  margin-top: 170px;
  background: none;
  background-color: transparent;
}
.iphone480 {
  display: none;
}
.rightslide {
  display: block;
  float: right;
  margin-top: -45px;
  margin-right: -12px;
}
.leftslide {
  display: block;
  float: left;
  margin-top: 193px;
  margin-left: -13px;
}
.lorem480 {
  display: block;
  width: 80%;
  margin-left: 57px;
  padding-top: 78px;
}
.lorem-head480 {
  font-size: 36px;
  font-family: "LeagueGothic-Regular";
  color: rgb(254, 254, 254);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  text-align: left;
  margin-top: -70px;
}
.lorem-title480 {
  font-size: 18px;
	font-family: 'LeagueGothic-Regular';
	color: #edbfff;
  margin-top: -2px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.navigation {
display: block;
float: left;
margin-left: 115px;
margin-top: 78px;
}
.about-article768, .starts-article, .starts-title, .update-head, .update-text768 {
  display: none;
}
.update-text320, .about-article320, .starts-article320, .starts-title768, .update-head320 {
  display: block;
}
.about-article320 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(255, 255, 255);
 text-align: left;
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
 display: block;
 margin-left: 53px;
 margin-top: 1px;
 line-height: 24px;
}
.box1 {
  display: block;
  width: 95%;
  margin-left: 0px;
  margin-top: -24px;
}
.box2 {
  display: block;
  width: 95%;
  margin-left: -1px;
  margin-top: -41px;
}
.box3 {
  display: block;
  width: 95%;
  margin-top: -25px;
  margin-right: 16px;
}
.about-more a {
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: right;
  margin-right: 23px;
  margin-top: 13px;
  text-decoration: none;
  float: right;
}
.starts-article320 {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  margin-left: 63px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 24px;
}
.starts {
  display: block;
  width: 95%;
  height: 294px;
  background-image: url(img/testimonial.png);
  text-align: right;
  margin-top: 70px;
  float: left;
  margin-left: 12px;
}
.starts-title768 {
  font-size: 23px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  text-align: left;
  display: block;
  margin-left: 60px;
  padding-top: 22px;
}
.starts-title768 span {
  display: block;
  font-size: 23px;
  margin-top: -4px;
  height: 30px;
}
.navigation2 {
  margin-left: 132px;
  margin-top: -335px;
  float: left;
 }
.update {
  display: block;
  width: 300px;
  margin-top: 38px;
  float: left;
  margin-left: 10px;
}
.update-text768 {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
  float: left;
  margin-left: 17px;
  margin-top: 3px;
  }
.updatebox2 {
  margin-top: 4px;
}
  .updatebox3 {
  margin-top: 10px;
  }
.read {
  display: block;
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  float: right;
  margin-right: 18px;
  margin-top: 33px;
  text-decoration: none;
}
.update-head320 a {
  font-size: 16px;
  font-family: "OpenSans-ExtraBold";
  color: rgb(69, 69, 69);
	float: left;
  font-weight: 800;
  margin-left: 17px;
  margin-top: 13px;
  text-decoration: none;
}
.update-text320 {
 font-size: 16px;
 font-family: "OpenSans-Light";
 color: rgb(69, 69, 69);
 float: left;
 margin-left: 17px;
 margin-top: 3px;
}
.content3 {
 background-color: #f9f9f9;
 border-top: 1px solid #fefefe;
 border-bottom: 1px solid #fefefe;
 width: 100%;
 height: 420px;
}
.logos img {
   display: none;
}
.logos768 img {
   display: none;
}
.logos480 img {
   display: none;
}
.logos320 img {
 display: block;
 margin-top: 51px;
 margin-left: 34px;
}
.content4 {
  display: none;
}
.foot-menu {
  display: none;
}
.des {
 margin-top: 39px;
 margin-right: 81px;
}
}
