* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: LeagueGothic-Regular;
  src: url(fonts/LeagueGothic-Regular.otf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(fonts/OpenSans-ExtraBold.ttf);
}
.wrapper {
width: 100%;
margin: 0 auto;
padding: 0;
background: url(img/bg.png) no-repeat center top;
}
header, main, .cont1, .cont2, .cont3, .cont4, footer {
  display: block;
}

/*HEADER*/

header {
  width: 100%;
  height: 847px;
  margin: 0 auto;
}
.head {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.headcont {
  padding-top: 52px;
}
.head-menu {
  margin-right: 50px;
  margin-top: -41px;
  height: 24px;
  width: 75%;
  float: right;
}
.head-menu li {
  float: left;
  list-style: none;
  font-size: 24px;
}
.head-menu a {
  text-decoration: none;
  font-size: 24px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  margin-left: 26px;
  margin-right: 26px;
}
.head-menu a:hover{
	border-bottom: 2px solid #edbfff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
}
.slide1 {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  width: 100%;
}
.slide {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  margin-top: 165px;
}
.leftslide {
  display: block;
  float: left;
  margin-top: 344px;
}
.headoverlay {
  display: block;
  max-width: 960px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.lorem {
  display: block;
  float: left;
  width: 52.08%;
  margin-top: 72px;
}
.lorem-head {
 font-size: 60px;
 font-family: "LeagueGothic-Regular";
 color: rgb(254, 254, 254);
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
 text-align: left;
}
.lorem-title {
  font-size: 32px;
	font-family: 'LeagueGothic-Regular';
	color: #edbfff;
  margin-top: -10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.lorem-article {
  font-size: 18px;
	font-family: 'OpenSans-Light';
	color: #ffffff;
  margin-top: 3px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.lorem768, .lorem480, .lorem-head480, .lorem-title480, .lorem-head768, .lorem-title768, .lorem-article768, .mobile-menu {
  display: none;
}
.iphone {
  margin-top: -17px;
  float: right;
  margin-right: 70px;
}
.iphone480 {
  display: none;
}
.rightslide {
  display: block;
  float: right;
  margin-top: -240px;
}
.navigation {
display: block;
max-width: 960px;
width: 100%;
margin-top: 71px;
margin-left: auto;
margin-right: auto;
}
.navigation img {
  float: right;
  padding-right: 166px;
}

/*MAIN*/

main {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.about {
  background: linear-gradient(to bottom, #745083, #33253a);
  border-top: 1px solid #33253a;
  width: 100%;
  height: 342px;
}
.cont1 {
  width: 100%;
  height: 342px;
  max-width: 960px;
  margin: 0 auto;
}
.box1, .box2, .box3 {
  display: inline-block;
  width: 29.16%;
  height: 198px;
  float: left;
  text-align: center;
  margin-top: 73px;
  margin-left: 10px;
  margin-right: 30px;
}
.box1 img {
  display: block;
  float: left;
  margin-top: 9px;
}
.box2 img {
  display: block;
  float: left;
  margin-top: 11px;
  margin-left: -3px;
}
.box3 img {
  display: block;
  float: left;
  margin-top: 9px;
  margin-left: -2px;
}
.about-article {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(255, 255, 255);
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  display: block;
  margin-left: 53px;
  margin-top: 5px;
  line-height: 24px;
  }
.update-text320, .update-head320, .starts-article320, .about-article768, .about-article480, .about-article320 {
  display: none;
}
.about-title a {
  display: block;
  font-size: 30px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 54px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  text-decoration: none;
}
.about-more a {
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: right;
  margin-right: 12px;
  margin-top: 18px;
  text-decoration: none;
  float: right;
}
.cont1 a:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.content2 {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  height: 485px;
  width: 100%;
}
.cont2 {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.starts {
  display: block;
  width: 47.08%;
  height: 294px;
  background-image: url(img/testimonial.png);
  text-align: right;
  margin-top: 99px;
  float: left;
}
.starts-title {
  font-size: 30px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  text-align: left;
  display: block;
  margin-left: 63px;
  padding-top: 26px;
}
.starts-title span {
  color: #edbfff;
}
.starts-article {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  margin-left: 63px;
  margin-right: 40px;
  margin-top: 7px;
  line-height: 24px;
}
.starts-article768, .starts-title768 {
  display: none;
}
.navigation2 {
  margin-left: 195px;
  margin-top: -2px;
}
.update {
  display: block;
  width: 46.35%;
  height: 262px;
  float: right;
  margin-top: 99px;
  overflow: hidden;
  margin-right: 5px;
}
.updates {
  font-size: 30px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  padding-top: 26px;
}
.updatebox1 img {
  float: left;
  margin-top: 13px;
  margin-left: 1px;
}
.updatebox2 {
margin-top: 6px;
}
.updatebox2 img {
  float: left;
  margin-top: 12px;
  margin-left: 1px;
}
.updatebox3 {
margin-top: 3px;
}
.updatebox3 img {
  float: left;
  margin-top: 12px;
  margin-left: 1px;
}
.update-head a {
  font-size: 16px;
  font-family: "OpenSans-ExtraBold";
  color: rgb(69, 69, 69);
	float: left;
  font-weight: 800;
  margin-left: 17px;
  margin-top: 13px;
  text-decoration: none;
}
.update-head a:hover {
  text-decoration: underline;
}
.update-text {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(69, 69, 69);
	float: left;
  margin-left: 17px;
  margin-top: 3px;
}
.update-text768 {
  display: none;
}
.read a {
  display: block;
  font-size: 18px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  float: right;
  margin-right: 20px;
  margin-top: -19px;
  text-decoration: none;
}
.read a:hover {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
.content3 {
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  width: 100%;
  height: 118px;
}
.cont3 {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  line-height: 118px;
}
.logos img {
display: block;
height: 65px;
margin-top: 24px;
margin-left: auto;
margin-right: auto;
}
.logos768 img {
  display: none;
}
.logos480 img {
  display: none;
}
.logos320 img {
  display: none;
}
.content4 {
  border-top: 1px solid #d8d8d8;
  background-color: #ececec;
  width: 100%;
  height: 395px;
}
.cont4 {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.pig {
  display: block;
  width: 30.20%;
  height: 200px;
  margin-top: 89px;
  float: left;
}
.pig span {
  font-size: 48px;
  font-family: "LeagueGothic-Regular";
  color: rgb(185, 185, 185);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.pig-title {
  font-size: 48px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
}
.pig-copy {
  font-size: 16px;
  font-family: "Georgia";
  color: rgb(197, 197, 197);
  font-style: italic;
  text-align: left;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
  margin-top: 8px;
}
.pig-article {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(120, 120, 120);
  text-align: left;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
  margin-top: 9px;
  line-height: 24px;
}
.pig2 {
  display: block;
  width: 28.64%;
  height: 240px;
  float: left;
  margin-top: 93px;
  margin-left: 49px;
}
.pig2-title {
  font-size: 30px;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.pig2 a {
  text-decoration: none;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
}
.pig3 a {
  text-decoration: none;
  font-family: "LeagueGothic-Regular";
  color: rgb(69, 69, 69);
}
.cont4 a:hover {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
.pig2-article {
  font-size: 16px;
  font-family: "OpenSans-Light";
  color: rgb(120, 120, 120);
  text-align: left;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  line-height: 24px;
}
.pig3 {
  display: block;
  width: 29.16%;
  height: 205px;
  float: right;
  margin-top: 93px;
}
.pig4, .pig5, .pig6 {
  display: none;
}

/*FOOTER*/

footer {
  width: 100%;
  margin: 0 auto;
  background-image: url(img/foot.png);
}
.content5 {
  width: 100%;
  max-width: 960px;
  height: 114px;
  margin: 0 auto;
}
.foot-menu li {
    display: inline-block;
    float: left;
    list-style: none;
    font-size: 24px;
    margin-top: 43px;
}
.foot-menu a {
  text-decoration: none;
  font-size: 20px;
  font-family: "LeagueGothic-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  margin-right: 44px;
}
.foot-menu a:hover{
	border-bottom: 3px solid #edbfff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
}
.des {
 display: block;
 float: right;
 font-size: 12px;
 font-family: "OpenSans-Light";
 color: rgb(255, 255, 255);
 text-align: left;
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
 margin-top: -18px;
}
.des a {
  font-size: 12px;
  font-family: "OpenSans-ExtraBold";
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.des a:hover {
  text-decoration: underline;
}
